//
// Header Styles
//

// Default Styles
[role=banner] {
	@include container;

	position: relative;
	background-color: #FFFCD6;

	h1 {
		margin: 0;
		width: 100%;

		@include breakpoint(desktop) {
			@include cols(1, 4);
		}

		svg {
			display: block;
			height: 5 * $base-line-height;
			width: auto;
		}

		span {
			display: none;
		}
	}

	[type=checkbox] {
		display: none;

		// menu toggle element
		&~label {
			color: red;

			@include breakpoint(desktop) {
				display: none;
				right: 0;
			}
		}

		// hide nav if not checked
		&~nav {
			display: none;

			@include breakpoint(desktop) {
				display: block;
				@include cols(1,4);
			}
		}

		&:checked {

			// active label style
			&~label {
				color: blue;
			}

			// active nav style
			&~nav {
				@include container;

				position: absolute;
				left: 0;
				top: 2 * $base-line-height;
				width: 100%;

				div {
					@include cols(1,3);
				}

			}
		}
	}
}