﻿/////     MIXINS     /////

// Vertical align anything (works in IE9+) (http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/)

// Usage: @include vertical-align-parent;
@mixin vertical-align-parent {
	@include transform-style(preserve-3d);
}

// Usage: @include vertical-align;
@mixin vertical-align {
	@include transform(translateY(-50%));
	position: relative;
	top: 50%;
}

// Truncate long strings of text with an ellipsis
//
// Usage: supply a width as paramter:
// ex: @include truncate-ellipsis(8rem);
// ex: @include truncate-ellipsis(100%);
//
// Note: this element must be a block element 
// ex: (display: inline-block || display: block)
@mixin truncate-ellipsis($width) {
	overflow: hidden;
	text-overflow: ellipsis;
	width: $width;
	white-space: nowrap;
}

// Vertical Rhythm

@mixin font-size($n, $mt, $mb) {
	font-size: $base-font-size * $n;
	
	@if($n < 1) {
		$n: 1;
	}
	line-height: floor($n) * $base-line-height;
	margin-top: $mt * $base-line-height;
	margin-bottom: $mb * $base-line-height;
}

// Aspect Ratio
//
// @include aspect-ratio(16, 9);
// Apply to containing element that has a nested <div> inside of it
//
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}